# Node & Expo
node_modules/
.expo/
.expo-shared/
dist/
build/
*.log

# Android
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/

# iOS (caso adicione futuramente)
ios/
